/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


nav {
    text-align: left;
    border: 2px;
    float: right;
}

.nav li {
  display: inline;
}

.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.container {
    position: relative;
    top: 10px;
}

.jumbotron {
  height: 500px;
  background-color: #0099cc;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #ffffff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #000000;
}

.logo {
  padding: 20px;
  font-size: 27px;
  color: #aaaaaa;
  font-weight: bold;
}

.form {
    margin: 20px auto;
    width: 300px;
}

.form-box{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.input-spacing {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px transparent;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 200;
    padding: 10px;
    width: 250px;
}

.btn {
  border: 2px transparent;
  background: #3498DB;
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  border-radius: 4px;
  transition: 0.25s;
  width: 250px;
}
    